<settings>
<servers>
  <server>
    <id>hello-server-domain-hello-server-artifact-repo</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>hello-server-domain-hello-server-artifact-repo</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>hello-server-domain-hello-server-artifact-repo</id>
        <url>https://hello-server-domain-518082434600.d.codeartifact.eu-west-1.amazonaws.com/maven/hello-server-artifact-repo/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<mirrors>
  <mirror>
    <id>hello-server-domain-hello-server-artifact-repo</id>
    <name>hello-server-domain-hello-server-artifact-repo</name>
    <url>https://hello-server-domain-518082434600.d.codeartifact.eu-west-1.amazonaws.com/maven/hello-server-artifact-repo/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
